.DS_Store
codemeta.json
/code/.B3GET.tmp.nlogo
/code/B3GET.nlogo+*
/code/B3GET.nlogo.*
/code/autosave*
/code/config.cpt
/code/program.cpt
/code/dev/*
/output/*
/data/dev/*
/docs/dev/*
/results/dev/*
/results/BYTE/*
/results/ProtoPan/*
Version history
metafile.csv
